body {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}


h6,
h5,
h4,
h3,
h2,
h1 {
    font-weight: 700;
}

h1 {
    font-size: 40px;
    line-height: 44px;
    margin: 0 0 20px 0;
}

h2 {
    font-size: 36px;
    line-height: 40px;
    margin: 0 0 16px 0;
}

h3 {
    font-size: 32px;
    line-height: 36px;
    margin: 0 0 12px 0;
}

h4 {
    font-size: 28px;
    line-height: 32px;
    margin: 0 0 10px 0;
}

h5 {
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 8px 0;
}

h6 {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 8px 0;
}

p {
    margin-top: 0;
}

.text-medium {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 6px 0;
}

.text-small {
    font-size: 14px;
    line-height: 18px;
}

.text-nano {
    font-size: 12px;
    line-height: 16px;
}

.text-big {
    font-size: 24px;
    line-height: 28px;
}

.bold {
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase ;
}

.text-light {
    color: grey;
}

.separator {
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-top: 1px solid #e9e7e7;
    margin: 0;
}

////////////////////////////



.banner {
    position: relative;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;

        .heading,
        .description {
            color: white;
            text-align: center;
        }

        .description {
            width: 75%;
        }


        .button {
            margin-top: 20px;
            padding: 20px;
            border: none;
            background-color: white;

            .play-icon {
                margin-right: 10px;
            }

            &:hover {
                background-color: #17BED1;
                color: white;
                cursor: pointer;
            }

        }
    }


    .image-container {
        width: 100%;
        height: 100%;

        .image {
            width: 100%;
            height: auto;
        }
    }
}

.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 40px;

    .description {
        text-align: center;
        width: 40%;
    }

    .items {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;

        .product-heading {
            display: flex;
            align-items: flex-end;

            .title {
                margin: 0;
            }

            .label {
                margin-left: 10px;
            }

            @media(max-width: 700px) {
                flex-direction: column;
                align-items: flex-start;

                .label {
                    margin-left: 0;
                }
            }
        }

        .product-description {
            margin-top: 15px;
        }

        .image-container {
            width: 100%;

            .image {
                width: 100%;
                height: auto;
            }
        }

        .expand-button {
            margin-top: 15px;
            cursor: pointer;

            .expand-icon {
                margin-left: 5px;
                color: aquamarine;
            }
        }
    }

}

.image-divider {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3px;

    .image {
        width: 100%;
        height: auto;
    }
}

.image-tiles {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3px;
    padding: 40px;

    .row-1 {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 3px
    }
    .row-2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3px;
    }

    .tile {
        width: 100%;
        height: auto;
    }

}

.offers {
    display:flex;
    background-color: #fafafa;
    padding: 60px 40px;

    .offer {
        display: flex;
        flex-direction: column;
        align-self: center;
        background-color: white;
        padding: 35px 25px;

        .possibilities {
            margin: 25px 0 0;
        }

        .heading {
            margin-top: 20px;
        }

        .possibility-icon {
            color: #17BED1;
            margin-right: 5px;
        }

        .button {
            margin-top: 20px;
            padding: 10px 30px;
            border: none;
            background-color: #fafafa;
            align-self: flex-start;


            &:hover {
                background-color: #17BED1;
                color: white;
                cursor: pointer;
            }

        }

        &.big {
            padding: 70px 25px;

        }

        &:not(:last-child){
            margin-right: 3px;
        }

    }



}

.features {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3px;
    padding: 60px 40px;
    background-color: #fafafa;

    .feature {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 25px;

        .heading {
            margin-top: 20px;
        }

        .feature-icon {
            color: grey;
        }

        &:hover {
            background-color: #17BED1;
            color: white;
            cursor: pointer;

            .feature-icon,
            .description {
                color: white;
            }
        }
    }
}

.reviews {
    padding: 60px 40px;

    .review-container {
        display: flex;
        width: 70%;
        margin-top: 30px;
        .quaters{
            color: #17BED1;
            font-size: 40px;
            margin-top: 7px;
        }

        .review {
            margin-left: 10px;
        }
    }
}

.prefooter {
    display: flex;
    padding: 60px 0;

    .prefooter-section {
        padding: 0 40px;

        .item {
            display: block;
            margin: 20px 0;
            color: black;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 40px;

    .site-name {
        font-weight: 900;

        .prefix {
            color: #17BED1;
        }
    }
}
